# Build artifacts
.gradle/
build/
bin/
out/
target/

# Logs
*.log

# Environment files
.env
.env.*

# IDE files
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Others 